/* --MAP-- */
.map .container {
  display: flex;
}

.map {
  padding-top: 55px;
  padding-bottom: 65px;
}

.table-map-wrapper {
  display: flex;
  align-content: space-between;
  // width: 470px;
  // height: 635px;
  border: 2px solid var(--primary-accent-color);
}

.table {
  // padding: 54px 52px;
  font-weight: 500;
  font-size: 31px;
  line-height: 1.19;
  color: #13615f;
}

.table-title {
  padding: 52px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.21;
  color: var(--title-accent-color);
}
.table-content {
  vertical-align: middle;
}

.table-country {
  display: flex;
  align-items: center;

  padding-left: 52px;
  padding-top: 20px;
  padding-bottom: 20px;
  // padding-right: 40px;
}

.table-data {
  padding-right: 52px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: end;

  font-size: 24px;

  line-height: 1.21;
  color: var(--title-accent-color);
}

.icon-flag {
  width: 45px;
  height: 35px;
  margin-right: 25px;
}

.icon-polygon {
  width: 22px;
  height: 14px;
  margin-left: 20px;
}
