/* SYMPTOMS */
.symptoms > .container {
  text-align: center;

  padding-bottom: 134px;
}

.symptoms-img {
  margin-right: auto;
  margin-left: auto;
}

.symptoms-description {
  line-height: 2.15;
}
